
.margin-10 {
    margin: 10px;
}

.scroll-100vh-50 {
    max-height: calc(100vh - 50px);
    margin-top: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.scroll-100vh-300 {
    /*max-height: calc(100vh - 300px);*/
    max-height: 300px;
    margin-top: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.mr-top-bottom-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}